@model Trener
@{
    ViewData["Title"] = "Login";
}
<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">ADD</h2>
            <hr />
        </div>
        <div class="mb-3">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control" />
            <span class="text-danger" asp-validation-for="Name"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Phone">Phone</label>
            <input asp-for="Phone" class="form-control" />
            <span class="text-danger" asp-validation-for="Phone"></span>
        </div>
        <button type="submit" class="btn btn-primary">Добавить</button>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">НаZад</a>
    </div>
</form>