html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

footer {
    background-color: white
}

body {
    background-color: #CC9966;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}